@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root {
    --text-rgb: 36, 36, 36;
    --foreground-rgb: 240, 241, 242;
    --background-rgb: 255, 255, 255;

  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-rgb: 255, 255, 255;
      /* --foreground-rgb: 255, 255, 255; */
      --background-rgb: 36, 36, 36;

    }
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    color: rgb(var(--text-rgb));
    background: rgb(var(--background-rgb))
  }

  code {
    background: rgb(var(--foreground-rgb));

  }

  .layout {
    display: grid;
    grid-template-areas:
      "sidebar nav"
      "sidebar content";


    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
  }

  .nav {
    grid-area: nav;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

}